body {
  background: lightgray;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.SmurfList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 1%;
  border: 2px solid lightblue;
  border-radius: 4px;
  padding: 1%;
}

.Smurf {
  width: 15%;
  margin: 2%;
  background: skyblue;
  border: 1px solid grey;
  border-radius: 4px;
}

button {
  width: 150px;
  cursor: pointer;
  border: none;
  margin: 2%;
  font-size: 16px;
  padding: 1%;
  border-radius: 4px;
  background: #e0b3ff;

}
